/pratica01/meuPrimeiroProjetoComNetbeans/nbproject/private/
/pratica01/meuPrimeiroProjetoComNetbeans/build/
/pratica02/netBeans/meuPrimeiroProjetoJava/nbproject/private/
/pratica02/netBeans/meuPrimeiroProjetoJava/build/